{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "jsx-a11y"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn"
  }
}
